<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:org/mapml/log4j.xml</param-value>
    </context-param>
    <filter>
      <filter-name>gzip</filter-name>
      <filter-class>net.sf.ehcache.constructs.web.filter.GzipFilter</filter-class>
    </filter>
    <servlet>
      <servlet-name>toporama</servlet-name>
      <servlet-class>org.mapml.servlet.MapMLServlet</servlet-class>
      <init-param>
        <param-name>extent</param-name>
        <param-value>-7786477,-927808,7148753,7928344</param-value>
      </init-param>
      <init-param>
        <param-name>projection</param-name>
        <param-value>CBMTILE</param-value>
      </init-param>
      <init-param>
        <param-name>zoomRange</param-name>
        <param-value>0,22</param-value>
      </init-param>
      <init-param>
        <param-name>title</param-name>
        <param-value>Toporama in MapML service</param-value>
      </init-param>
      <init-param>
        <param-name>wmsUrlTemplate</param-name>
        <!-- param-value contains a newline-separated array of WMS URL templates -->
        <param-value>
          http://wms.ess-ws.nrcan.gc.ca/wms/toporama_en?SERVICE=WMS&amp;REQUEST=GetMap&amp;FORMAT=image/png&amp;TRANSPARENT=TRUE&amp;STYLES=&amp;VERSION=1.3.0&amp;LAYERS=WMS-Toporama&amp;WIDTH={w}&amp;HEIGHT={h}&amp;CRS=EPSG:3978&amp;BBOX={xmin},{ymin},{xmax},{ymax}&amp;m4h=t
        </param-value>
      </init-param>
      <init-param>
        <param-name>licenseUrl</param-name>
        <param-value>http://www.nrcan.gc.ca/earth-sciences/geography/topographic-information/free-data-geogratis/licence/17285</param-value>
      </init-param>
      <init-param>
        <param-name>licenseTitle</param-name>
        <param-value>Canada Base Map © Natural Resources Canada</param-value>
      </init-param>
      <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
      <servlet-name>osm</servlet-name>
      <servlet-class>org.mapml.servlet.MapMLServlet</servlet-class>
      <init-param>
        <param-name>extent</param-name>
        <!-- xmin=-8429174.508490367 &ymin=5683255.481687962 &xmax=-8426117.027358958 &ymax=5685548.592536515 -->
        <!-- OSM scope <param-value>-180,-85.0511287798,180,85.0511287798</param-value> -->
        <param-value>-20037508.34,-20037508.34,20037508.34,20037508.34</param-value>
      </init-param>
      <init-param>
        <param-name>projection</param-name>
        <param-value>OSMTILE</param-value>
      </init-param>
      <init-param>
        <param-name>zoomRange</param-name>
        <param-value>0,18</param-value>
      </init-param>
      <init-param>
        <param-name>tileUrlTemplate</param-name>
        <param-value>{scheme}://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png</param-value>
      </init-param>
      <init-param>
        <param-name>licenseUrl</param-name>
        <param-value>http://www.openstreetmap.org/copyright</param-value>
      </init-param>
      <init-param>
        <param-name>licenseTitle</param-name>
        <param-value>© OpenStreetMap contributors CC BY-SA</param-value>
      </init-param>
      <init-param>
        <param-name>tileServers</param-name>
        <param-value>a,b,c</param-value>
      </init-param>
      <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
      <servlet-name>cbmt</servlet-name>
      <servlet-class>org.mapml.servlet.MapMLServlet</servlet-class>
      <init-param>
        <param-name>extent</param-name>
        <param-value>-7786477,-927808,7148753,7928344</param-value>
      </init-param>
      <init-param>
        <param-name>projection</param-name>
        <param-value>CBMTILE</param-value>
      </init-param>
      <init-param>
        <param-name>zoomRange</param-name>
        <param-value>0,18</param-value>
      </init-param>
      <init-param>
        <param-name>tileUrlTemplate</param-name>
        <param-value>
          http://geoappext.nrcan.gc.ca/arcgis/rest/services/BaseMaps/CBMT_CBCT_GEOM_3978/MapServer/tile/{z}/{y}/{x}?m4h=t
          http://geoappext.nrcan.gc.ca/arcgis/rest/services/BaseMaps/CBMT_TXT_3978/MapServer/tile/{z}/{y}/{x}?m4h=t
        </param-value>
      </init-param>
      <init-param>
        <param-name>licenseUrl</param-name>
        <param-value>http://www.nrcan.gc.ca/earth-sciences/geography/topographic-information/free-data-geogratis/licence/17285</param-value>
      </init-param>
      <init-param>
        <param-name>licenseTitle</param-name>
        <param-value>Canada Base Map © Natural Resources Canada</param-value>
      </init-param>
      <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
      <servlet-name>arctic</servlet-name>
      <servlet-class>org.mapml.servlet.MapMLServlet</servlet-class>
      <init-param>
        <param-name>extent</param-name>
        <param-value>-28567784.109254867,-28567784.109254755,32567784.109255023,32567784.10925506</param-value>
      </init-param>
      <init-param>
        <param-name>projection</param-name>
        <param-value>APSTILE</param-value>
      </init-param>
      <init-param>
        <param-name>zoomRange</param-name>
        <param-value>0,10</param-value>
      </init-param>
      <init-param>
        <param-name>tileUrlTemplate</param-name>
        <param-value>http://server.arcgisonline.com/arcgis/rest/services/Polar/Arctic_Ocean_Base/MapServer/tile/{z}/{y}/{x}?m4h=t</param-value>
      </init-param>
      <init-param>
        <param-name>licenseUrl</param-name>
        <param-value>http://www.esri.com/legal/software-license</param-value>
      </init-param>
      <init-param>
        <param-name>licenseTitle</param-name>
        <param-value>Sources: Esri, GEBCO, NOAA, National Geographic, DeLorme, HERE, Geonames.org, and other contributors</param-value>
      </init-param>
      <load-on-startup>4</load-on-startup>
    </servlet>
  <mime-mapping>
    <extension>ico</extension>
    <mime-type>image/x-icon</mime-type>
  </mime-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.ico</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>osm</servlet-name>
    <url-pattern>/osm/*</url-pattern>    
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cbmt</servlet-name>
    <url-pattern>/cbmt/*</url-pattern>    
  </servlet-mapping>
<servlet-mapping>
    <servlet-name>arctic</servlet-name>
    <url-pattern>/arctic/*</url-pattern>    
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>toporama</servlet-name>
    <url-pattern>/toporama/*</url-pattern>    
  </servlet-mapping>
</web-app>
